<div id="visible" style="display: none;" class="m-text-copy">
  Texto Copiado!
</div>
<div class="m-content">
  <section style="float: left;">
    <h1>Multiple Selection Search</h1>
    <h3>- Una sola selección</h3>
    <ng-select [items]="paises" [multiple]="false" bindLabel="name" groupBy="" [selectableGroup]="false"
      [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value" [(ngModel)]="cboPaises">
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;
        {{item.name }}
      </ng-template>
    </ng-select>

    <h3>- Multiple selección</h3>
    <ng-select [items]="paises" [multiple]="true" bindLabel="name" groupBy="" [selectableGroup]="false"
      [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value">
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;
        {{item.name }}
      </ng-template>
    </ng-select>

    <h3>- Multiple selección (All sin selección)</h3>
    <ng-select [items]="paises" [multiple]="true" bindLabel="name" groupBy="group" [selectableGroup]="true"
      [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value">
      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
        <input name="item-{{index}}" id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" checked />
        &nbsp;{{item.group}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;
        {{item.name }}
      </ng-template>
    </ng-select>

    <h3>- Multiple selección (Seleccionar todo )</h3>
    <ng-select [items]="paises" [multiple]="true" bindLabel="name" groupBy="group" [selectableGroup]="true"
      [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="value" [(ngModel)]="cboPaisesAll">
      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
        <input name="item-{{index}}" id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" checked />
        &nbsp;{{item.group}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />&nbsp;
        {{item.name }}
      </ng-template>
    </ng-select>
    <br><br>
    <h3>- Url npm package:</h3>
    <a
      href="https://www.npmjs.com/package/ng-multiple-selection" target="_blank">https://www.npmjs.com/package/ng-multiple-selection</a>

    <br>
    <h3>- Colaboración</h3>
    <p>Carlos Cruz Venegas</p>
   <a href="http://carloscruzvenegas.com" target="_blank">http://carloscruzvenegas.com</a>
  </section>

  <section style="float: left;margin-left: 40px;width: 60%;">
    <h2>Pasos para instalar:</h2>
    <h4>1.- Instala el package desde npm </h4>
    <div class="m-container">
      <span id="npm-istall">npm i ng-multiple-selection</span>
      <div class="m-align-copy">
        <button (click)="copiarAlPortapapeles('npm-istall')">Copiar</button>
      </div>
    </div>
    <h4>2.- Importalo en el modulo de componentes a usar de tu proyecto por ejemplo en el app.module.ts</h4>
    <div class="m-container">
      <span id="module">{{ngModule}} </span>
      <div class="m-align-copy">
        <button (click)="copiarAlPortapapeles('module')">Copiar</button>
      </div>
    </div>
    <br>
    <img alt="module multiple selection" src="assets/ngModule.png">

    <h4>3.-Preparamos el json a usar</h4>
    <div class="m-container">
      <span id="json">{{paises | json}} </span>
      <div class="m-align-copy">
        <button (click)="copiarAlPortapapeles('json')">Copiar</button>
      </div>
    </div>
    <br>
    <img alt="json multiple selection" src="assets/json.png">

    <h4>4.- Agregamos la directiva de componente </h4>
    <div class="m-container">
      <span id="code">{{codeHTML}} </span>
      <div class="m-align-copy">
        <button (click)="copiarAlPortapapeles('code')">Copiar</button>
      </div>
    </div>
    <br>
    <img alt="code multiple selection" width="100%" src="assets/code.png">
  </section>
</div>

